<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>UNJu Virtual</title>
	</head>
	
	<body>
		<header>
			<h1>PROGRAMACIÓN VISUAL 2024</h1>
		</header>
		
		<nav>
			<ul>
				<li><a href="index.htmnl">inicio</a></li>
				<li><a href="#">Horario de clases teoricas y practicas</a></li>
				<li><a href="#">Profesores a Cargo de la Materia</a></li>
			</ul>
		</nav>
		
		<main>
			<section id ="inicio">
				<h2>!!!BIENVENIDOS A PROGRAMACIÓN VISUAL!!!</h2>
				<h3>1er Cuatrimestre</h3>
				<p>Materia 2do año de la carrera de Analista Programador Universitario</p>
			</section>
			
			<section id ="material">
				<h2>Material de estudio</h2>
				<h3>Semanas transcurridas hasta el dia de la fecha</h3>
				<p>En esta sección el alumno encontrara clases grabadas por los profesores a cargo, junto con material de lectura en formato pdf.</p>
					<ol>
						<li><a href="#">1er Semana</a></li>
						<li><a href="#">2da Semana</a></li>
						<li><a href="#">3er Semana</a></li>
						<li><a href="#">4ta Semana</a></li>
					</ol>
			</section>
			
			<section id="clasesconsultas">
				<h2>Clases de consultas</h2>
				<h3>Profesores y Horarios</h3>
				<p>En esta tabla se encuentran los días y horarios para poder asistir a clases de consultas, donde el alumno podra despejar dudas sobre algún tema de estudio.</p>
				<table border="1">
					<tr>
						<th>Profesores</th>
						<th>Horarios</th>
					</tr>
					
					<tr>
						<td>Ariel Vega</td>
						<td>Viernes de 8:30 hs a 9:30 hs. </td>
					</tr>
					
					<tr>
						<td>Carolina Apaza</td>
						<td> Jueves de 17:00 a 18:00 hs. </td>
					</tr>
					
					<tr>
						<td>Juan Carlos Rodriguez</td>
						<td>Miércoles  de 18:00 a 19:00 hs. </td>
					</tr>
					
					<tr>
						<td>Gustavo Sosa</td>
						<td>Jueves de 20:00 a 21:00</td>
					</tr>
				</table>
			</section>
		</main>
		
		<aside>
			<h3>Avisos y Programa de la Materia</h3>
			<p>En esta sección el alumno encontrara avisos importantes de los profesores antes cualquier imprevisto surgido y ademas podra descargar el programa de la materia para un mejor seguimiento de la misma.</p>
				<ul>
					<li><a href="#">Avisos</a></li>
					<li><a href="#">Programa de la Materia 2024</a></li>
					<img alt="imagen aviso importante" src="../static/images/important.jpg">
				</ul>
		</aside>
		
		<footer>
			<h4>Contacto</h4>
			<p>Email: programacionvisual@unjuvirtual.com</p>
			<h4>Redes sociales</h4>
				<ul>
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Instagram</a></li>
					<li><a href="#">Canal de Youtube</a></li>
				</ul>
		</footer>
	</body>
</html>